  body {
    text-align: center;
    background-color: #FFEFD3;
    height: 100%;
    line-height:1.6;
    font-size:18px;
    color:#363537;
    padding:0;
}
h1,h2,h3 {
    line-height: 1.2
}

.projects-carousel{
    display: inline-grid;
    grid-template-columns: auto auto;
    position: relative;
    padding: 25px;
}
.project-thumbnail{
    border: 1px solid #7E846Baa;
    padding: 20px;
}
img{
    position: relative;
    width: 80%;
    border: 8px solid #7E846Baa;
}
.sidebar {
    max-width: 20%;
    position: fixed;
    float: left;
    height: 100%;
    padding: 10px;
    top: 0;
    left: 0;
    display: block;
    background-color: #363537;
    color: #FFEFD3;
}

.main {
    margin-left: 25%;
    display: block;
    /* float: right; */
 }
#profilePic{
    float:left;
    border-radius: 50%;
    display: block;
    margin: 15px;
}
#hitsCount {
    padding: 6px 8px 6px 16px;
    width: auto;
    border: none;
}
.sidebar a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #FFEFD3;
  display: block;
}
